body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.code-input {
    display: none;
}

* {
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.editor {
    width: 100vw;
    height: 50vh;
}

@media (min-width: 800px) {
    .editor {
        width: 50vw;
        height: 100vh;
    }
}
