:root {
    --gap: .5rem;
    --background: #1A1B26;
}

body {
    margin: 0;
    padding: 0;
    background-color: #14141a;
    color: #C0CAF5;
    font-family: sans-serif;
}

.code-input {
    display: none;
}

* {
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    width: 100vw;
    height: 100vh;
    padding: var(--gap);
}

.workspace, .problem {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: calc(100vh - var(--gap) * 2); ;
}

.editor, .explanations, .output, .tests {
    background-color: #242538;
    border: 1px solid #3b3c72;
    min-height: 0;
}

.workspace {
    font-family: monospace;
}

.explanations,
.editor {
    height: 100%;
    overflow: auto;
    min-height: 0;
    padding: .75rem;
    flex-shrink: 1;
}

.editor {
    padding: 0;
}

.tests {
    flex-shrink: 0;
}

.output {
    height: 150px;
}

@media (min-width: 800px) {
    .editor {
        width: 50vw;
        height: 100vh;
    }
}
